<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Academics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Academics</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <h1>Welcome to <span style="color: #3f51b5;">Academics</span> at GMIT Galway!</h1>
    <p>GMIT Galway offers a wide range of academic programs designed to provide students with the knowledge and skills necessary for successful careers. Our diverse range of disciplines includes engineering, business, science, arts, and technology.</p>
    <p>Our dedicated faculty members are experts in their fields, committed to delivering high-quality education and fostering a dynamic learning environment. We offer a combination of theoretical knowledge and practical experience, ensuring that our graduates are well-prepared for the professional world.</p>
    <p>With state-of-the-art facilities, industry partnerships, and a focus on innovation, GMIT Galway provides students with an enriching academic experience. Whether you're interested in pursuing a bachelor's degree, master's degree, or diploma, we have a program that suits your interests and career goals.</p>
    <p>Join us at GMIT Galway and embark on an exciting educational journey that will shape your future!</p>
     <!-- button to go back to the home page -->
     <ion-button expand="full" (click)="goToHome()">Go to Home</ion-button>
  </div>
</ion-content>

<style>
  .container {
    margin: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
</style>

